//- 
    Student Info: Name=Yue Hu
    Subject: CS532_HW1_Summer_2016
    Filename: cart.jade
    Date and Time: Nov 19, 2016 3:41:58 PM
    Project Name: ClassExercise
 
extends layout

block content
  h1= title
  p Welcome to #{title}
  table
    thead
      tr
        th Item Name
        th Quantity
        th Update
        th Delete
    tbody
      each item in cart
        tr
          td= item.itemName
          form(action='/update', method='post')  
             td         
               input(type='text', name='quantity', value='#{item.itemQty}')
               input(type='hidden', name='itemname', value='#{item.itemName}')
             td
               input(type='submit', value='Update')
          td
            form(action='/delete', method='post') 
               input(type='hidden', name='itemname', value='#{item.itemName}')
               input(type='submit', value='Delete')
  hr
  a(href="/order") Order Page
  hr
  h3= message