//- 
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.

extends layout
block content
  h1= title
  p Welcome to #{title}
  table
    thead
      tr
        th Item Name
        th Quantity
        //- th Update
        th Delete
        th ID
    tbody
      each item in cart
        tr
          td= item.itemName
          td   
               form(action='/update', method='post')
                input(type='text', name='itemqty', value='#{item.itemQty}')
                input(type='hidden', name='itemid', value='#{item.id}')
                input(type='submit', value='Update')
          td
            form(action='/remove', method='post') 
             input(type='hidden', name='itemid', value='#{item.id}')
             input(type='submit', value='Delete')
          td= item.id
  hr
  a(href="/order") Order Page
  hr
  h3= message